.header {
    position: fixed;
    top: 0px;
    background-color: pink;
    width: 100%;
}

.main {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: pink;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.small-spacer {
    flex: 0.3 0.3 auto;
}
